.not-used-but-nice-bright-red  {background-color:#e10;}
.not-used-violet  {background-color:#708;}
.bright-1  {background-color:#e10;}
.bright-2  {background-color:#b40;}
.bright-3  {background-color:#870;}
.bright-4  {background-color:#5a0;}
.bright-5  {background-color:#2d0;}
.bright-6  {background-color:#0e1;}
.bright-7  {background-color:#0b4;}
.bright-8  {background-color:#087;}
.bright-9  {background-color:#05a;}
.bright-10 {background-color:#02d;}
.bright-11 {background-color:#10e;}
.bright-12 {background-color:#40b;}
.bright-13 {background-color:#708;}
.bright-14 {background-color:#a05;}
.bright-15 {background-color:#d02;}


.appname{height:300px}
.o         {                       color:#f9c;} /*#f9c*/
.ff        {                       color:#fc9;} /*#fc9*/
.fi        {                       color:#ff9;} /*#ff9*/
.i         {                       color:#cfc;} /*#cfc*/
.c         {                       color:#9cf;} /*#9cf*/
.e         {                       color:#c9f;} /*#c9f*/

/**** Generic Toy Office styling  ****/


body, p, ol, ul, input, textarea, .input {
  font-family: serif;
  background-color: transparent; color: black;
  padding:0px;
}

div {
  background-color:transparent; color: black; padding:0px;
}

body {
  background-color:#eee; padding:20px;
}


h, th, h input, th input {
  font-family: arial-black, verdana, arial, helvetica, sans-serif;
  background-color: aqua;
  text-align: left;
  padding: 0px;
  font-size: 10px;
}

h1, div {
  margin-top: 0px;
  padding: 0px;
}

page-header {
  background-color: purple;
}

.page-header h1 {
	margin: 0; padding: 0 0px 10px;
}
.numeric, .aspect-numeric-body-cell, .sort-of-numeric {
  text-align: right;
}

.grey {
  background-color: purple;
}


.kind-cell .tiny-gray, .body-cell .tiny-gray {
  line-height: 4px;
  font-size: 4px;
  color: #999;
}

/**** Styling for navigation ****/

.navigation, .search, .editor {
}

.navigation .nav-item {
    }

.navigation .nav-item {
}

a {
                         color: #000;
  text-decoration: none;
}
a:link    {              color: #730; }
a:visited {              color: #370; }
a:hover   {              color: #96c; }
a:active  {              color: #666; }

a.go, a.zoom-in {
  background-color:#9cf;color: #666;padding:0;padding-left:1px;padding-right:3px;
  font-family: "Arial Black", sans-serif;
  font-size: 9px;
  margin:0px;
}

a.go:hover, a.zoom-in:hover {
  color: white;
}

.zoom, zoom-in {
  text-decoration:none;
 }

.zoom-in {
  background-color:transparent;
 }

span.navLink {
                         color: #666;
  font-family: "Arial Black", sans-serif;
  font-size: 9px;
}

span.navLink a {
                         color: #f00;
}

span.navLink a:link    { color: #11f; }
span.navLink a:visited { color: #11f; }
span.navLink a:hover   { color: #0f0; }
span.navLink a:active  { color: #f0f; }

.toy-nav {
  font-family: Arial, sans-serif;
  font-size: 9px;
}

.add-dependent:hover {
  background-color: purple;
}

/**** Styling for inline elements ****/

h {
  background-color: purple; color:#11f;
}

h1 {
  padding: 0px;
}

img { border : 0px; }

/**** Styling for block elements  ****/

div {
  /*background-color: #1ff;*/
}

div.card-body {
  font-size: 12px;
}

div.content-body {
  margin-top:12px;
}

p {
}

pre {
  background-color: purple;
  padding: 10px;
  font-size: 11px;
}

/**** Styling for table elements  ****/

table {
  background-color: transparent;
  border-spacing:0px;
}

table.aspects-table {
    background-color:transparent; border:0px solid black;margin:auto;padding:0;
}

table.bottom:controls {
  font-size:9px;
  border-spacing:0px;
}

table.card {
 background-color: transparent;
}

table.core{
  border:       0px solid #999;
  border-right: 0px solid #999;
  border-bottom:0px solid #999;
  margin:       0px;
  border-spacing:     0px;
  height:0;

}

table.core-controls{
  border:       0px solid #999;
  border-right: 0px solid #999;
  border-bottom:0px solid #999;
  margin:       0px;
  background-color:orange;
  border-spacing:     0px;

}

td.aspect-cell {
    vertical-align:top;
}

table.list-rows {
    background-color:transparent;width:100%;
}

table.pair-head {
  width:100%;
}

table.header {
  width:100%; margin-top:45px;
}

tr { background-color:transparent; margin:0px; padding:0px;
}

tr.aspects-row {
  background-color:transparent;
}

tr.bottom-row {
  background-color:#f66;
}

tr.self-item-row {
  background-color:#f88;height:auto;
}

tr.list-row {
  background-color:transparent; border:20px solid aqua;
}

tr.item-row {
  background-color:transparent;
}

tr.core-main-row{
}

tr.core-controls {
    margin:0px;padding:0px;height:16px;
}

th, td {
}

th {
  background-color: #666; color:white; font-family:"Arial Black",Gadget,sans-serif;
}

table.first-card th.kind-cell, table.first-card td.name-cell, table.first-card td.body-cell {
  font-size: xx-large; padding:4px;
  line-height: 100%;
}


table.inner      th.kind-cell, table.inner      td.name-cell, table.inner      td.body-cell {
  font-size: smaller; padding:0px;
  line-height: 100%;
}

table.first-card th.kind-cell .tiny-gray, table.first-card td.body-cell .tiny-gray {
  font-size: 4px; padding:0px;
  line-height: 4px;
}

th.empty-title-cell {
  background-color: white; color:#036; padding-bottom : 1px;
}

th.header-pair-name {
  width:62%;
  color:#333;
}

td {
  background-color:transparent;
}

td.add-aspect {
  background-color: purple;
}

td.add-item {
  width:30px;
}

td.aspect-cell {
  background-color:transparent;border-top:14px solid #ccc;padding-top: 9px;
}

td.aspects-table {
  background-color:transparent;
}

td.body-cell {
  background-color:#eee;
}

td.bottom-controls {
  height:16px;
  background-color:#9cf;
}

td .card-body {
  background-color:#eee;border:0px;
}

.core-main-row td{
  background-color: fuchsia;border:0px solid blue;padding-right:3px;

}

td.core {
  vertical-align:top;
  border-right:8px solid white;
}


td.core-controls{
  background-color: #9cf;
  border:0px solid orange;padding:0px;margin:0px;width:auto;text-align:center;
}

td.core-add-aspect {
  background-color:teal;border:5px solid green;width:auto;padding:1px;
}

td.core-add-item{
  background-color: yellow;border:0px solid yellow;padding:0px;margin:0px;

}

td.core-add-item a.add-item{
  background-color: green;border:0px solid yellow;padding:0px;margin:0px;text-align:center;

}

td.core-trash{
  background-color: teal;border:0px solid purple;margin:0px;
color:purple;
}

.card td.core-trash {
  background-color: #f9c;border:0px solid yellow;padding:0px;margin:0px
}

td.core-trash form{
  background-color: fuchsia;border:0px solid red;padding:0px;margin:0px;

}

td.core-trash form div{
  background-color: #f9c;border:0px solid purple;padding:0px;margin:0px;

}

td.core-trash form div input{
  background-color: fuchsia;border:0px solid purple;padding:0px;margin:00px;
  font-family:"Arial Black", sans-serif;
  color:#666;
    }


.card td.core-add-aspect {
  background-color: #9cf;border:0px solid #630; vertical-align:middle;
}

.card td.core-add-item {
  background-color: #9cf;border:0px solid #630;
}


td.go {
  background-color: #9cf;vertical-align:bottom;padding:0px;  height:1px; width:20px; text-align:center;

}

td.header-pair-body {
  text-align: right;
  color:#999;
}

table.inner td{
}


td.item-cell {
  background-color:transparent;border-left:16px solid #ccc;padding-left:10px; padding-top:10px;
}

td.list-cell {
  background-color:fuchsia;
}

td.search {
  text-align:right;
}


td.spacer {
  background-color:transparent;
}

td.transparent {
  background-color: transparent ;
}

td.right-border-cell,
td.bottom-right-border-cell {
  border-right: 8px solid white;
}

td.bottom-border-cell,
td.bottom-right-border-cell {
  border-bottom: 8px solid white;
}


tr.self-and-aspects-row {
  background-color:white;
}


.card  {
  border:0px solid green;
}

/**** Styling for input elements  ****/
form {
    background-color:black;
    padding-top:0px;
    padding:0px;
}

form.button_to
submit {
  font-size:small;
}

form.card {
  margin:0px;
}

form.add-aspect {
  background-color:purple;margin:0px;padding:0px;border:0px solid red;
}

form.core-add-item {
  background-color:fuchsia;margin:00px;padding:00px;border:0px solid green;
}

form.core-trash {
  background-color:fuchsia;margin:00px;padding:00px;border:0px solid yellow;
}

form.erase {
    padding:0px;margin:0px;
}

input, textarea, .input {
  width: auto
}

input {
  background-color: transparent; color:black;border:2px solid white;
}

.card input.delete-button {
  background-color: #f9c; color:#333;
  border:none;margin:0px;padding:0px;height:12px;
}

input.delete-button:hover {
  background-color: black; color:white;
}

input.add-aspect, input.add-item {
  background-color:#9cf;margin:0px;padding:0px;
  font-family: "Arial Black", sans-serif;
  font-size: 11px;
}

input.add-aspect {
    padding-bottom:5px;padding-top:3px;border:0px solid red;
}

input.add-item {
    padding-left:1px;padding-right:3px;border:0px solid red;height:13px;
}

input.erase {
  background-color:#f9c;
  font-size:8px;
  font-family: "Arial Black", sans-serif;
  padding:0px;
  margin:0px;
}

h input, th input {
  background-color: #666; color:white;
}

textarea {
  background-color:#eee;border:0px;
  color:#222;
}

.input {
  background-color: purple; color:#11f;
}

th .editor {
  color:white;
}

/**** Styling for validation  ****/

.fieldWithErrors {
  padding: 2px;
  background-color: purple;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: white;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/**** Styling for Toy Office Logo ****/

.logo {
  background-color: purple;
  font-family: "Arial Black";
  font-size: 24pt;
  font-weight: 100;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo .toy {
  background-color:#ccc; color: #666  ;
}

.logo .office {
  background-color: #666; color: purple ;
  }

/**** Styling for UI  ****/

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #e01;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #0f0;
  height: 18px;
  width: 0%;
}

/**** Styling for toy content  ****/

.cell, .aspect-name-cell, .aspect-body-cell {
  padding-right: 8px;
}

.aspect-kind-cell {
  text-align: left;
}

.aspect-name-cell {
  text-align: left; background-color: white;
        border-top:    0px solid #eee;
        border-left:   1px solid #eee;
        border-right:  3px solid #eee;
        border-bottom: 0px solid #eee;
}

.aspect-name-cell .first {
  text-align: left; background-color: fuchsia;
        border-top:    8px solid #eee;
        border-left:   1px solid #eee;
        border-right:  3px solid #eee;
        border-bottom: 0px solid #eee;
}

.aspect-body-cell {
  text-align: left; background-color : #eee;
        border-top:    0px solid #eee;
        border-left:   1px solid #eee;
        border-right:  3px solid #eee;
        border-bottom: 3px solid #eee;
}

/**** Other styling ****/

td.debug {
  padding      : 4px;
  padding-right: 8px;
}

.show-page .content-header {border-bottom: 0px dotted #888;}
a.card-link {text-decoration: none;}
.page-header .navigation a:hover {
    background-color: teal;
}

input[type="submit"]:hover{color:white;}


.section.with-flash { padding-top: 0px; }
.content-header, .content-body, .content-footer {margin: 0px; padding: 0px;}

div.context li {
  font-family: arial, helvetica, sans-serif;
  text-align: left;
  padding: 0px;
  font-size: 10px;
}

div.page-header {
    border-top: 0px solid yellow; background-color:transparent; margin: 0px; padding: 0px;
}
select.dev-user-changer {
    display:inline-block;
    margin:0px;padding:0px;background-color:transparent;
}

ul.account-nav {
     display:inline-block;
}