/**** Generic Toy Office styling  ****/

body, div, p, ol, ul, input, textarea, .input {
  font-family: serif;
  font-size:   16px;
  background: #eee; color: black;
  line-height: 18px;
}

h, th, h input, th input {
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: left;
  padding: 0px;
  font-size: 10px;
}

th, td {
}

.page-header{
  background: white;
}

h1, div {
  margin-top: 12px;
  padding-left: 12px;
}

.numeric, .aspect-numeric-body-cell, .sort-of-numeric {
  text-align: right;
}

.grey {
  background-color: #f7f7f7;
}

.tiny-gray {
  font-size: x-small;
                         color: #999;
}/**** Styling for navigation ****/

.navigation, .search, .editor {
  background: white;
}

.navigation .nav-item {
                         color: black ;
    }

.navigation .nav-item {
  background-color: #9cf;
                         color: blue ;
}

a {
                         color: #000;
  text-decoration: none;
}
a:link    {              color: #730; }
a:visited {              color: #370; }
a:hover   {              color: #96c; }
a:active  {              color: #666; }

input.add-aspect {
  font-size: 20pt;
}

span.navLink {
                         color: #ddd;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 8pt;
}

span.navLink a {
                         color: #f00;
}

span.navLink a:link    { color: #11f; }
span.navLink a:visited { color: #11f; }
span.navLink a:hover   { color: #0f0; }
span.navLink a:active  { color: #f0f; }

.toy-nav {
  font-family: Arial, sans-serif;
  font-size: 16pt;
}

.add-dependent:hover {
  background: #8bf;
}

/**** Styling for inline elements ****/

h {
  background-color: #bbb; color:#11f;
}

h1 {
  padding: 0px;
}

img { border : 0px; }

/**** Styling for block elements  ****/

div {
  /*background-color: #1ff;*/
}

div.card_body {
  font-size: 12px;
}

p {
  background-color: #fc9;
}

pre {
  background-color: #11f;
  padding: 10px;
  font-size: 11px;
}

/**** Styling for table elements  ****/

table {
  background-color: white;
}

table.pair-head {
  width:100%;
}

tr {
}

td {
  background-color: white;
}

td.spacer {
  background-color: #eee;
}

td.header-pair-body {
  text-align: right;
  color:#999;
}

td.right-border-cell,
td.bottom-right-border-cell {
  border-right: 1px solid #eee;
}

td.bottom-border-cell,
td.bottom-right-border-cell {
  border-bottom: 1px solid #eee;
}


td.transparent {
  background-color: #eee;
}

td.add-aspect {
  background-color: #eee;
}

th {
  background-color: #fc9; color:#036;
}

th.empty-title-cell {
  background-color: #fc9; color:#036; padding-bottom : 1px;
}

th.header-pair-name {
  width:62%;
  color:#333;
}

/**** Styling for input elements  ****/
form {
    padding-top:0px;
}

form.button_to
submit {
  font-size:large;
}

form.card {
  margin:0px;
  background:#eee;
}

input, textarea, .input {
  width: 100%;
}

input {
  background-color: #bbb; color:#fdf;
}

textarea {
  background-color: #dfd; color:#222;
}

.input {
  background-color: #0f7; color:#11f;
}

h input, th input {
  background-color: #dfd;; color:#333;
}

th .editor {
  background-color: #fc9; color:#036;
}

.add-aspect input {
}
/**** Styling for validation  ****/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: white;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/**** Styling for Toy Office Logo ****/

.logo {
  background-color: white;
  font-family: "Arial Black";
  font-size: 24pt;
  font-weight: 100;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo .toy {
  background-color: #eee; color: #999  ;
}

.logo .office {
  background-color: #999; color: #fcc ;
  }

div.logo {
  margin-top: 0px;
  padding-left: 0px;
}

/**** Styling for UI  ****/

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: white;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/**** Styling for toy content  ****/

.cell, .aspect-name-cell, .aspect-body-cell {
  padding-right: 12px;
}

.aspect-kind-cell {
  text-align: left;
}

.aspect-name-cell {
  text-align: left; background: white;
}

.aspect-body-cell {
  text-align: left; background : white;
}

/**** Other styling ****/

td.debug {
  padding      : 4px;
  padding-right: 8px;
}

.show-page .content-header {border-bottom: 0px dotted #888;}
