.not-used-but-nice-bright-red  {background-color:#e10;}
.not-used-violet  {background-color:#708;}
.bright-1  {background-color:#e10;}
.bright-2  {background-color:#b40;}
.bright-3  {background-color:#870;}
.bright-4  {background-color:#5a0;}
.bright-5  {background-color:#2d0;}
.bright-6  {background-color:#0e1;}
.bright-7  {background-color:#0b4;}
.bright-8  {background-color:#087;}
.bright-9  {background-color:#05a;}
.bright-10 {background-color:#02d;}
.bright-11 {background-color:#10e;}
.bright-12 {background-color:#40b;}
.bright-13 {background-color:#708;}
.bright-14 {background-color:#a05;}
.bright-15 {background-color:#d02;}


.office    {background-color:#f00; color:#eee;}
.o         {                       color:#f9c;} /*#f9c*/
.ff        {                       color:#fc9;} /*#fc9*/
.fi        {                       color:#ff9;} /*#ff9*/
.i         {                       color:#cfc;} /*#cfc*/
.c         {                       color:#9cf;} /*#9cf*/
.e         {                       color:#c9f;} /*#c9f*/

/**** Generic Toy Office styling  ****/

body, div, p, ol, ul, input, textarea, .input {
  font-family: serif;
  font-size:   16px;
  background-color: white; color: black;
  line-height: 18px;
}

h, th, h input, th input {
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: left;
  padding: 0px;
  font-size: 10px;
}

th, td {
}

.page-header{
  background-color: white;
}

h1, div {
  margin-top: 12px;
  padding-left: 12px;
}

.numeric, .aspect-numeric-body-cell, .sort-of-numeric {
  text-align: right;
}

.grey {
  background-color: purple;
}

.tiny-gray {
  font-size: x-small;
                         color: #999;
}/**** Styling for navigation ****/

.navigation, .search, .editor {
}

.navigation .nav-item {
    }

.navigation .nav-item {
}

a {
                         color: #000;
  text-decoration: none;
}
a:link    {              color: #730; }
a:visited {              color: #370; }
a:hover   {              color: #96c; }
a:active  {              color: #666; }

input.add-aspect {
  font-size: 20pt;
}

span.navLink {
                         color: #ddd;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 8pt;
}

span.navLink a {
                         color: #f00;
}

span.navLink a:link    { color: #11f; }
span.navLink a:visited { color: #11f; }
span.navLink a:hover   { color: #0f0; }
span.navLink a:active  { color: #f0f; }

.toy-nav {
  font-family: Arial, sans-serif;
  font-size: 16pt;
}

.add-dependent:hover {
  background-color: purple;
}

/**** Styling for inline elements ****/

h {
  background-color: purple; color:#11f;
}

h1 {
  padding: 0px;
}

img { border : 0px; }

/**** Styling for block elements  ****/

div {
  /*background-color: #1ff;*/
}

div.card_body {
  font-size: 12px;
}

p {
}

pre {
  background-color: purple;
  padding: 10px;
  font-size: 11px;
}

/**** Styling for table elements  ****/

table {
  background-color: white;
}

table.pair-head {
  width:100%;
}

tr {
}

td {
}

td.spacer {
  background-color:white;
}

td.header-pair-body {
  text-align: right;
  color:#999;
}

td.right-border-cell,
td.bottom-right-border-cell {
  border-right: 8px solid white;
}

td.bottom-border-cell,
td.bottom-right-border-cell {
  border-bottom: 8px solid white;
}


td.transparent {
  background-color: purple ;
}

td.add-aspect {
  background-color: white;
}

th {
  background-color: #666; color:white; font-family:"Arial Black",Gadget,sans-serif;
}

th.first {
  font-size: 140%; padding:4px;
}


td.first {
  font-size: 140%; padding:4px;
}


th.empty-title-cell {
  background-color: white; color:#036; padding-bottom : 1px;
}

th.header-pair-name {
  width:62%;
  color:#333;
}

/**** Styling for input elements  ****/
form {
    padding-top:0px;
}

form.button_to
submit {
  font-size:large;
}

form.card {
  margin:0px;
}

input, textarea, .input {
  width: auto;
}

input {
  background-color: #eee; color:black;
}

input.delete-button {
  background-color: #f34; color:#333; border:none;
}

input.delete-button:hover {
  background-color: black; color:white;
}

textarea {
  color:#222;
}

.input {
  background-color: purple; color:#11f;
}

h input, th input {
  background-color: #666; color:white;
}

th .editor {
  color:white;
}

.add-aspect input {
}
/**** Styling for validation  ****/

.fieldWithErrors {
  padding: 2px;
  background-color: purple;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: white;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/**** Styling for Toy Office Logo ****/

.logo {
  background-color: purple;
  font-family: "Arial Black";
  font-size: 24pt;
  font-weight: 100;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo .toy {
  background-color:#ccc; color: #666  ;
}

.logo .office {
  background-color: #666; color: purple ;
  }

/**** Styling for UI  ****/

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #e01;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #0f0;
  height: 18px;
  width: 0%;
}

/**** Styling for toy content  ****/

.cell, .aspect-name-cell, .aspect-body-cell {
  padding-right: 40px;
}

.aspect-kind-cell {
  text-align: left;
}

.aspect-name-cell {
  text-align: left; background-color: #eee;
        border-top:    8px solid #eee;
        border-left:   1px solid #eee;
        border-right:  3px solid #eee;
        border-bottom: 0px solid #eee;
}

.aspect-name-cell .first {
  text-align: left; background-color: yellow;
        border-top:    8px solid #eee;
        border-left:   1px solid #eee;
        border-right:  3px solid #eee;
        border-bottom: 0px solid #eee;
}

.aspect-body-cell {
  text-align: left; background-color : white;
        border-top:    0px solid #eee;
        border-left:   1px solid #eee;
        border-right:  3px solid #eee;
        border-bottom: 3px solid #eee;
}

/**** Other styling ****/

td.debug {
  padding      : 4px;
  padding-right: 8px;
}

.show-page .content-header {border-bottom: 0px dotted #888;}
