/* Graphite */
/*html, body {color: #222; background: #222;}
.page-header {color: white; background: #444;}
.page-header .main-nav a {background: #666;}
.page-header .main-nav a:hover {background: #222;}

.content {background: white;}
.button {color: white; background: #666;}
.button:hover {background-color: #222;}
.add-to-collection {background: #f5f5f5;}
*/
/* Cubicle Blue */
/*html, body {color: #193440; background: #193440;}
.page-header {color: white; background: #3F606E;}
.page-header .navigation.main-nav a {background: #5B8BA0;}
.page-header .navigation.main-nav li.current a {background: red; color: #222;}
.page-header .navigation.main-nav a:hover {background: #193440;}
.section.content {background: #FCFFF5;}
.button:hover {background-color: #193440;}
.add-to-collection {background: #E6E7DE;}
.aside { background: #E5E5E5;}
*/
/* Column Layout */

/*
.section-group       {display: table; width: 100%;}
.section-group-inner {display: table-row;}
.section-group-inner > * {display: table-cell; vertical-align: top;}
.aside {width: 30%;} */ /* works with % too */ /*
.aside { padding: 2em;}
*/
/* ------ */


/*
body {
	width: 100%;
	margin: 0 auto 2em;
	font: 1.2em "Lucida Grande", "Trebuchet MS", Arial, sans-serif; line-height: 1.8em;
}
h1, h2, h3 {font-weight: normal;}
h1 {margin: 2em 0 1em; font-size: 2.2em; line-height: 2.2em;}
h2 {margin: 1.5em 0 1em; font-size: 1.8em; line-height: 1.8em;}
h3 {margin: 1em 0 .5em;  font-size: 1.6em; line-height: 1.6em;}
h4 {margin: 1em 0 .5em;  font-size: 1.4em; line-height: 1.4em;}
h5 {margin: 1em 0 .5em;  font-size: 1.2em; line-height: 1.2em;}
h6 {margin: 1em 0 .5em;  font-size: 1em; line-height: 1em;}

li {margin-left: 2em;}

a {
	border-bottom: 1px dotted #ccc;
	color: #222; background: #fafafa;
	text-decoration: none; 
}
a:hover {
	border-bottom: 1px dotted #aaa;
	color: black; background: #f2f2f2; 
}
h1 a, h2 a, h3 a {border: none; background: none;}

input.text, input.string, input.email-address, input.password, input.search,
input.integer, input.float, textarea {
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	background: #fff url(../images/fieldbg.gif) repeat-x top;
	font-size: 1.1em; line-height: 1.3em;
}

input.file_upload {
	border: 1px dotted #666;
}

.button {
	padding: .6em 1em;
	border: none;
    width: auto;
	font-size: 1.1em; font-weight: bold;
	margin-top: 1em;
}
.button:hover {cursor: pointer;}
form .actions {height: 100%; overflow: hidden; font-size: 1.1em;}
form .actions input { margin: 0; }

.flash {
	margin: 0 4em 1em; padding: 1em 3em; border-width: 2px 0;
	color: white;
}
.flash.notice {background: #92ab6e;}
.flash.error {background: #BC1C3D;}
.section.with-flash { padding-top: em; }

*/
/* rails error message */
/*.error-messages {
	background: #BC1C3D;
	border: 1px solid #900024;
	padding: 1.5em 3em;
	color: white;
	margin-bottom: 2em;
}
.error-messages h2 {
	color: white; margin-top: 0; padding-bottom: 0; font-size: 1.6em;
}
.error-messages li {margin-left: 2em; list-style: square;}

.field-with-errors input, .field-with-errors textarea, .field-with-errors select {border: 2px solid #BC1C3D;}

#ajax-progress {
	padding: .8em 2em .8em 4em;
	border: 1px solid #444;
	background: black url(../images/spinner.gif) no-repeat 1em .8em;
	color: white;
}

.article {margin: 2em 0; border-top: 1px dotted #ccc;}

.field-list th {width: 12em; white-space: nowrap;}
.field-list td {width: auto;}
.field-list .input-help { color: #888;}

.content-header, .content-body, .content-footer {margin:em; margin-left: 1% ; padding: 0;}
.content-header {padding: .5em 0;}
.content-body {padding: 1.5em 0;}
.content-footer {padding-bottom: 2em;}

/*
.page-header {position: relative; margin-top: 2.5em; padding: 2em 0 0;}
.page-header h1 {
	margin: 0; padding: 0 3em 3em;
	font-family: "Arial Black", Tahoma, Arial, sans-serif; font-size: 3.6em; letter-spacing: -1.5pt;
}
.page-header ul {zoom: 1; overflow: hidden;}
.page-header li {float: left; margin-left: 0; list-style: none;}

.page-header .navigation a, 
.page-header .navigation a:hover,
.page-header h1 a, 
.page-header h1 a:hover
 {border: none; color: white; background: gree;}
.page-header .navigation a, .button {background:#9cf; color: #666}


.page-header div.search {
 	float: right;
 	padding: 0 3em .8em 1.5em;
 }
.page-header div.search label {
	padding-right: 1em;
	font: bold .9em Arial, sans-serif; text-transform: uppercase; letter-spacing: 1.0pt;
}
.page-header div.search input {
	font-size: 1em;
}
#search-results-panel {
	position: absolute; top: 3.5em; right: 2.5em; z-index: 50;
	width: 40em; height: 50em; overflow: auto;
	padding: 0 2em 2em; border: 1px solid #ddd;
	color: black; background: #f2f2f2;
}
#search-results-panel .card.linkable a {color: black;}
#search-spinner {background:black;border: 1px solid #666666;opacity:0.6;padding: 2px;position:absolute;right:.4em;top:.6em;}

.main-nav {padding: 0 3em;}
.main-nav li {margin-right: 1em;}
.page-header .main-nav a {
	display: block;
	padding: .5em 1.5em .7em;
	font-size: 1.3em; font-weight: bold;
}

.account-nav {
        float:right;
        margin: 0 .5em 0 0;
	font-size: 1.1em;
}
.account-nav li {
	float: left; 
	margin-left: 0; padding-left: 2em;
	color: red;
	list-style: none;
}
.account-nav a {font-weight: bold;}
.account-nav a:hover {border-bottom: 1px dotted #ddd;}

.user-account-page .change-password {width: 35em;}
.user-account-page .change-password th {width: 15em;}

.page-footer {text-align: right; color: #ccc; padding: .5em; font-size: 1.1em;}

*/
/* pagination nav, needs a more specific class on the wrapper */
/*
.content-body .nav {margin-bottom: 1em; font-size: 1.1em;}
.content-body .nav a {margin-right: .5em;}


.login-page, .forgot-password-page {width: 47em; margin-top: 4em;}
.login-page .content-header {padding-bottom: 0;}
.login-page .field-list {width: 37em;}
.login-page form .actions {text-align: left; margin: 0; padding: 1em 0 1em 16em;}
.signup-page .field-list {width: 37em;}
.signup-page .content-body, .signup-page .content-header { margin-left: 12em; margin-right: 12em;}
.login-page .field-list td, .signup-page .field-list td {width: auto;}
.login-page .field-list th, .signup-page .field-list th {width: 15em !important; width: 15em;}
.login-page .content-header { position: relative; }
.login-page .forgot-password {font-size: 1.1em; margin-left: 16em;}

.edit-page .content-header {overflow: hidden; height: 100%;}
.edit-page .content-header h1 {float: left;}
.edit-page .content-header .delete-button {float: right; margin-top: 2.5em;}
form .actions {margin: 3em 0; width: 100%; text-align: center;}

.show-page .content-header {position: relative; border-bottom: 1px dotted #888;}
.show-page .content-header h1, .new-in-collection-page .content-header h1 {margin-bottom: 2px; margin-right: 7em;}
.show-page .content-header a.edit-link {position: absolute; top: 3em; right: 0;}
.aside-content .collection {padding-bottom: 1em;}

.content-header .creation-details {font-size: 1.1em; line-height: 1.1em;}
.content-header .creator {margin-right: 1.5em;}
.content-header .created-at {color: #444;}

.new-in-collection-page .content-header h2 {margin-top: .6em; font-size: 1.4em;}
.new-in-collection-page .content-header h2, .new-in-collection-page .content-header h2 a {color: #222;}

.add-to-collection {padding: 2em 3em; margin-top: 2em;}
.collection-section .add-to-collection h3 {margin: 0 0 2em; padding: 0; border-bottom: none;}
.add-to-collection form .submit-button {margin: 2em 13em;}
.add-to-collection .actions {text-align: left; margin-top: 0; margin-bottom: 0;}
*/
/* styling of generic elements */
/*.creator {font-weight: bold;}

.card {
	height: 100%; overflow: hidden;
	background: white;
	position: relative;
}
.card h4 {margin-top: 0;}
.card a {background: #f5f5f5;}
.card .creation-details {
	display: block; color: #333; font-size: 1.1em;
}
.card .datetime {color: #666;}
.card .actions { position:absolute; right: 1em; top: 1em; }
div.ordering-handle { float: left; background: #ccc; color: white; margin-right: .5em; cursor: move; padding: 0 .2em;}

.card.content.with-owner {
	padding: 0; margin: 1em 0 3em; border: none;
	background: none; 
	font-size: 1.1em;
}
.card.content .creation-details {
	float: left; width: 28%;
	line-height: 1.4em;
}
.card.content .creation-details .created-at {display: block;}
.card.content.with-owner .content {
	float: right; width: 72%;
}
ul.collection > li { margin-left: 0; list-style: none;}
.empty-collection-message {margin-top: 2em;}

.new-link {margin-top: 2em;}

.collection-section h3 {
	padding: 1.5em 0; margin-bottom: 2em; border-bottom: 1px dotted #888;
}

*/
/*
.table-plus .header {height: 100%; overflow: hidden;}
.table-plus .header a {float: left; margin-right: 2em;}
.table-plus div.search {float: right;}
.table-plus div.search span {color: #444;}
.table-plus div.search input.search {margin: 0 .5em;}
.table-plus div.search .button {padding: 2px .4em;}

.table-plus table {width: 100%; margin: 2em 0;}
.table-plus table th {
	padding: 2px 1em;
	color: white; background: #444;
	font-weight: bold; font-size: 1em;
}
.table-plus table th a {color: white;}
.table-plus table td {
	padding: .6em 1em; border-bottom: 1px solid #e2e2e2; color: #666;
}
.table-plus table td input.button, .collection .button {padding: 1px .3em; margin-left: 1em; margin-top: 0;}
.table-plus table td.controls {width: 10em;}
.table-plus .even {background: #f8f8f8;}
.table-plus a {background: none;}

*/
/* <select-many> */

/*
div.select-many {border-top: 1px dotted #999;}
div.select-many .items {margin-bottom: 1em;}
div.select-many .item {
	overflow:hidden; height: 100%; font-weight: bold;
	border-bottom: 1px dotted #999; padding: .5em 1em; /*margin: .5em 2.5em .5em 0;*/ /*
}
div.select-many .item span { float: left; }
div.select-many .item .remove-item { float: right; }

*/
/* <live-search> */

/*
#search-results-panel { postition: relative; }
#search-results-panel .close-button { cursor: pointer; text-decoration: underline; position: absolute; top: 3px; right: .6em;}

*/
/*******************************************************/
/* these styles are for the generated front index page */
/* you can delete them if you over-ride it             */

/*
.front-page .welcome-message {
	padding: 1em 2em 2em; border: 1px solid #e8e8e8;
	color: #222; background: white;
}
.front-page .welcome-message h2 {
	font-size: 1.8em; line-height: 2.7em;
}
.front-page ul.models li {margin-left: 0; list-style: none;}

ul.input-many {list-style-type: none;}
ul.input-all  {list-style-type: none;}

ul.input-many > li { overflow:hidden; zoom:1;}
ul.input-many .input-many-item {float:left;}
ul.input-many div.buttons {float:left; margin-left:1em;}

ul.check-many { list-style-type: none; margin-left: em;}
ul.check-many li input { vertical-align: -20%;}

*/